{% extends "base.html" %}

{% block extra_head %}
<script>
  $(document).ready(function() {
    $('tr').css('cursor', 'pointer');
    $('tr').click(function(){
      var a = $(this).find('a')[0];
      window.location = $(a).attr("href");
    });
  });
</script>
{% endblock %}

{% block content %}
<div class="module">
  <div class="container">
    <div class="row">
      <div class="col-md-2"></div>
      <div class="col-md-8">
        {% if not object_list %}
          <h2>You haven't sent any messages yet.</h2>
          <p>Go <a href="{% url 'geo_lookup' %}">find your representatives</a> and get started.</p>
        {% else %}
          <h2>Your messages:</h2>
          <table class="table table-striped table-hover table-bordered">
            <thead>
              <tr>
                <th>Recipient</th>
                <th>Time</th>
                <th>Subject</th>
              </tr>
            </thead>
            <tbody>
              {% for message in object_list %}
                <tr>
                  <td>{{message.person_name}}</td>
                  <td>{{message.created|date:"D d M Y"}}</td>
                  <td><a href="{% url 'message_detail' message.id %}" class="btn btn-primary btn-xs pull-right" role="button">View message</a></td>
                </tr>
              {% endfor %}
            </tbody>
          </table>
        {% endif %}
      </div>
      <div class="col-md-2"></div>
    </div>
  </div>
</div>
{% endblock %}