{% extends "base.html" %}
{% load staticfiles %}

{% block extra_head %}
<script>
$(document).ready(function(){
  var email;
  email = $("#id_email");
  email.attr("autofocus", "true");
  email.attr("placeholder", "Email address");

  $("label").addClass("sr-only");
  $("input").addClass("form-control");

  // Apply Boostrap classes to error list.
  var errors, error_wrap;
  errors = $(".errorlist")
  error_wrap = $('<p class="text-danger"></p>');
  error_wrap.append(errors.clone());
  errors.replaceWith(error_wrap);
});
</script>
{% endblock %}

{% block content %}
<div class="module">
  <div class="container">
    <div class="row">
      <div class="col-md-4"></div>
      <div class="col-md-4">
        <h2 class="form-signin-heading">Please sign in</h2>
        <form method="post" role="form">
          {% csrf_token %}
          {{ form.non_field_errors }}
          <div class="form-group">
            {{form.email.label_tag}}
            {{form.email}}
          </div>
          <button class="btn btn-lg btn-primary" type="submit">Send password reset email</button>
        </form>
      </div>
      <div class="col-md-4"></div>
    </div>
  </div>
</div>
{% endblock %}