{% extends "base.html" %}
{% load staticfiles %}

{% block extra_head %}
<script>
$(document).ready(function(){
  var new_password_1, new_password_2;
  new_password_1 = $("#id_new_password1");
  new_password_2 = $("#id_new_password2");

  new_password_1.attr("placeholder", "New password");
  new_password_2.attr("placeholder", "Repeat new password");

  $("label").addClass("sr-only");
  $("input").addClass("form-control");

  // Apply Boostrap classes to error list.
  var errors, error_wrap;
  errors = $(".errorlist")
  error_wrap = $('<p class="text-danger"></p>');
  error_wrap.append(errors.clone());
  errors.replaceWith(error_wrap);
});
</script>
{% endblock %}

{% block content %}
<div class="module">
  <div class="container">
    <div class="row">
      <div class="col-md-4"></div>
      <div class="col-md-4">
        <h2 class="form-signin-heading">Set your password</h2>
        <form method="post" role="form">
          {% csrf_token %}
          {{ form.non_field_errors }}
          <div class="form-group">
            {{form.new_password1.label_tag}}
            {{form.new_password1}}
            {{form.new_password1.errors}}
          </div>
          <div class="form-group">
            {{form.new_password2.label_tag}}
            {{form.new_password2}}
            {{form.new_password2.errors}}
          </div>
          <button class="btn btn-lg btn-primary" type="submit">Sign in</button>
        </form>
      </div>
      <div class="col-md-4"></div>
    </div>
  </div>
</div>
{% endblock %}